@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Raleway&display=swap');

* {
  box-sizing: border-box;
  padding-left: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align: center;
}
.text-primary {
  color: #2c7eea;
}

.md-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lg-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.p-1 {
  padding: 1.5rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.py-1 {
  padding: 1.5rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

.btn {
  display: inline-block;
  color: #ffffff;
  background-color: #2c7eea;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #2466bb;
}

.btn-dark {
  background-color: #333333;
  color: #ffffff;
}

.bg-light {
  background-color: #f4f4f4;
  color: #333333;
}

.bg-dark {
  background-color: #333;
  color: #fff;
}

.list {
  margin: 0.5rem 0;
  list-style-type: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: #444 dotted 1px;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #333;
  color: #ffffff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar .logo {
  font-family: 'Orbitron', sans-serif;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #ffffff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background-color: #2c7eea;
  border-radius: 5px;
}

/* Hero */
#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../images/hero.jpg') no-repeat center center/cover;
  height: 95vh;
  color: #ffffff;
}

#hero .hero-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
}

/* About */
#about .items {
  display: flex;
}

#about .item {
  flex: 1;
  padding: 1rem;
}

#about i {
  background: #2c7eea;
  padding: 1.5rem;
  border-radius: 50%;
  color: #ffffff;
  margin-bottom: 0.75rem;
}

/* Team */
#team {
  display: flex;
}

#team div {
  flex: 1;
}

#team .team-img {
  background: url('../images/team.jpg') no-repeat center center/cover;
}

#team .team-text p {
  line-height: 1.7;
}

/* Section: Clients */
#clients .items {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

#clients .items .item {
  color: #a8a8a8;
}
